@model IEnumerable<FlyManager01.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeTicket)
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypePlane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPlane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPilot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuisnessClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceBuisness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdinaryTicket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>
